.leaderboard-container {
    width: 100%;
    text-align: center;
    padding: 0;
}

.leaderboard-container h1 {
    color: var(--text-purple);
    margin-bottom: 25px;
    font-size: 2.2em;
}

.leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    background-color: var(--surface-white);
    margin-bottom: 12px;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid var(--text-purple);
}

/* Special styles for top 3 */
.leaderboard-item.top-1 {
    background-color: #fffbeb;
    border-color: #feca57;
}
.leaderboard-item.top-2 {
    background-color: #f7f7f7;
    border-color: #dcdde1;
}
.leaderboard-item.top-3 {
    background-color: #fff5eb;
    border-color: #ff9f43;
}

.player-rank {
    font-family: var(--font-family-heading);
    color: var(--text-purple);
    font-size: 1.4em;
    min-width: 70px;
    text-align: left;
}

.player-name {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

.player-score {
    font-family: var(--font-family-heading);
    font-size: 1.3em;
    color: var(--primary-purple);
}