/* Define our new vibrant color palette and fonts */
:root {
  --primary-purple: #9669ff;
  --accent-yellow: #feca57;
  --text-purple: #2c2c54;
  --background-off-white: #f1f2f6;
  --surface-white: #ffffff;
  --light-gray: #dcdde1;
  --pastel-red-shadow: #AAE7FF;

  --font-family-heading: 'Teachers', sans-serif;
  --font-family-body: 'Poppins', sans-serif;
}


body {
  margin: 0;
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-purple);

  background-image: url('./assets/images/quiz-background.png');
  background-size: contain;
  background-color: var(--background-off-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}